.windowControls {
	display: flex;
	align-items: stretch;
	width: 100%;
	font-size: 12px;
	user-select: none;
	background-color: var(--titlebar-bg, var(--color-panel-translucent));
	backdrop-filter: blur(var(--custom-backdrop-blur, 16px)) saturate(160%);
	border-bottom: 1px solid var(--gray-5);
}

.spacer {
	flex-grow: 1;
	align-self: stretch;
}

.slot {
	flex-grow: 0;
	flex-shrink: 1;
	margin: auto 0;
}

.leftSide,
.rightSide {
	display: flex;
	width: 0;
	flex: 1;
}
