.wordSeparator {
	opacity: 0.5;
}

.lineSeparator {
	color: var(--accent-11) !important;
}

.bgLinePrefix {
	color: var(--blue-11) !important;
}

.duetLinePrefix {
	color: var(--amber-11) !important;
}

.emptyBeatSymbol {
	color: var(--accent-11) !important;
	opacity: 0.5;
}

@keyframes flash {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

.guideButtonFlash {
	animation: flash 1s ease-in-out infinite;
	box-shadow: 0 0 8px var(--accent-9);
}
